%header
  .Header
    .Header__logo
      %h1
        = link_to 'g', root_path, class: 'Header__logo--g' 
        = link_to 'r', root_path, class: 'Header__logo--r' 
        = link_to 'o', root_path, class: 'Header__logo--o' 
        = link_to 'w', root_path, class: 'Header__logo--w' 
      = link_to content_tag('h2', 'グロウ'), root_path

    %nav.Header__nav
      %ul
        - if user_signed_in?
          #show
            = icon('fas', 'bars')
        - else
          %li
            = link_to('ログイン', new_user_session_path)
          %li
            = link_to('新規登録', new_user_registration_path)

- if user_signed_in?
  #Menu
    #hide
      = icon('fas', 'times')
    %ul
      %li
        = link_to(current_user.name, edit_user_path(current_user))
      %li
        - if @current_users_word .present?
          = link_to('ゲームへ！', game_path(current_user.id))
        - else
          = link_to('ゲームへ！', new_word_path)
      %li
        = link_to('文字の登録', new_word_path)
      %li
        = link_to('文字の一覧', user_path(current_user.id))
      %li
        = link_to('ログアウト', destroy_user_session_path, method: :delete)