.Main
  .Main__screen

    .Game-area
      .Game-area__time
        %p
          残り 
        %p#timer
          60
        %p
          秒
      .Game-area__contents
        %p#question
          問題文がここにきます
        %p#answer
          答えの文がここにきます
        
      %canvas#maincanvas(width="900" height="400")
        このブラウザは HTML5 Canvas に対応していません。
        %p#target
          タイピングする文がここにきます
      
      #Cover
        %p
          press the space key to start

      #GameOver
        .Game-result
          %h1
            結果発表
          .Game-result__count
            %p
              成功タイプ数 
            %span#score
              0
          .Game-result__count
            %p
              ミスタイプ数
            %span#miss
              0
          = link_to('もういっかい', game_path, class: "Game-result__replay")
      

      .Dino
        = image_tag "kyoryu-migimuki.png", alt: "恐竜の画像", id: "small-dinosaur"
      .Dino
        = image_tag "kyoryu-migimuki.png", alt: "恐竜の画像", id: "middle-dinosaur"
      .Dino
        = image_tag "kyoryu-migimuki.png", alt: "恐竜の画像", id: "big-dinosaur"
      .running-dinosaur
        = image_tag "kyoryu-migimuki.png", alt: "恐竜の画像", id: "running-dinosaur"
           
      

= content_tag :div, "", id: "questions", data: { questions: @questions }
= content_tag :div, "", id: "answers", data: { answers: @answers }
= content_tag :div, "", id: "targets", data: { targets: @targets }