.Main
  .User-part
  
    .Page-title
      = link_to(content_tag(:i, ' 戻る', class: 'far fa-arrow-alt-circle-left'), root_path, class: 'Page-title__btn')
      .Page-title__contents
        %h1
          文字の登録
      .help-icon
        = icon('far', 'question-circle', class: 'Page-title__btn--question')
        .help
          %p タイピング用の文字には
          %br ・半角英数字
          %br ・! ?
          %br ・空欄（1マス）
          %br が入力できます。
          %p.caution 全て18文字までです！

    .Form
      = form_with url: words_path, method: :post, local: true do |f|

        .Form__field
          = f.label "問題"
          -if @word.errors.any? 
            %span.Form__error=@word.errors.full_messages_for(:question).first
          %br
          = f.text_field :question, autofocus: true

        .Form__field
          = f.label "答え"
          -if @word.errors.any? 
            %span.Form__error=@word.errors.full_messages_for(:answer).first
          %br
          = f.text_field :answer, autofocus: true

        .Form__field
          = f.label "タイピング用(アルファベット)"
          -if @word.errors.any? 
            %span.Form__error=@word.errors.full_messages_for(:target).first
          %br
          = f.text_field :target, autofocus: true
          
        .Form__action
          = f.submit "登録する"
