.Main
  .User-part
    %h2
      新規登録

    .Form
      = form_with(model: @user, url: user_registration_path, method: :post, local: true) do |f|

        .Form__field
          = f.label "名前"
          = name_error_message
          %br
          = f.text_field :name, autofocus: true, autocomplete: "name"

        .Form__field
          = f.label "メールアドレス"
          .Form__error
          = email_error_message
          %br
          = f.email_field :email, autofocus: true, autocomplete: "email"

        .Form__field
          = f.label "パスワード"
          = password_error_message
          %br
          = f.password_field :password, autocomplete: "new-password"

        .Form__field
          = f.label "パスワード（確認用）"
          %br
          = f.password_field :password_confirmation, autocomplete: "new-password"

        .Form__action
          = f.submit "登録する"

    -# = render "users/shared/links"